{% extends "base.html" %}

{% block content %}

<div style="width: 80%; margin-left: 10%;">
    <h1 style="text-align: center;">FC15 背景故事</h1>
    <h3 style="text-align: center;">夏卓凡</h3>
    <h3 style="text-align: center;">受到游戏Opus Magnum的启发</h3>
    <hr />
    <p style="text-indent: 2em; font: 18px 微软雅黑; line-height: 30px;">
        在幻想乡的梅塔利克大陆（Terre Métallique）上，所有的公民皆由金属制成，他们的身体来自各种金属——铅（Plomb）、锡（Étain）、铁（Fer）、铜（Cuivre）、银（Argent）、金（Or），当然这些金属在每个公民个体的含量很不相同，大部分公民体内主要成分都是锡和铅，很少有公民得到铜或者更高级的体质。上述金属的稀有程度依次提高，而使用这些金属强化自身，公民的寿命就会得到延长，当金的含量足够高的时候，这位公民就获得了永生（Immortalité）。
    </p>
    <p style="text-indent: 2em; font: 18px 微软雅黑; line-height: 30px;">
        在这片土地上，这些金属资源的稀有程度同样也是依次递增的，铅和锡如同我们世界中空气的水一样常见，而铁和铜则是贵重的资源，银和金更是难得一见的稀世珍宝。在经历漫长的历史发展之后，这片大陆上暂时呈现出四个王国——风（Vent）火（Feu）水（Eau）土（Sol）和一个商人共和国——盐（Minéraux）互相制衡的政治局面。五个国家都拥有相同重要的关键技术——水银（Mercure），这项技术可以将现有的金属材料等级提升，每一个水银可以实现一级的等级提升，这可以大幅度改善金属性能，而整个大陆已经探明的水银矿藏只有五片，分别位于各个国家。
    </p>
    <p style="text-indent: 2em; font: 18px 微软雅黑; line-height: 30px;">
        四个王国分别位于大陆的四个角落，每个王国拥有两座城池——塔（Tour），而共和国「盐」则位于整个大陆的中央，仅拥有一座城池。四个王国的领主都希望得到大陆上所有的水银，实现长生不老。而王国「土」的公民普遍体质偏弱，国王决定率先行动，派出一路军队进攻弱小的共和国“盐”。其他各国也是各有野心，在「土」国开战后，「火」「水」「风」三国迅速投入战争中。布局与战略，诡计与战术在这个被交错纵横的兵线（Ligne des Soldats）布满的大陆上迅速栈空……
    </p>
    <p style="text-indent: 2em; font: 18px 微软雅黑; line-height: 30px;">
        紧张刺激的大战即将上演，而玩家可以任意选择一个王国作为自己的势力，在初期选择开局的策略，通过兵线控制临近的塔，增强本国的军事实力。在时机成熟时，发动进攻，合理运用兵线的布置与切断，攻城掠地，得到的塔越多，己方的军事实力越强，生产效率越高。玩家与其他玩家控制的其他国家不断对抗，一个个征服其他国家，获得一片片水银矿脉，将士兵从锡升级成铁、铜、银，最终征服其他所有的国家，获得所有水银矿的控制权，实现对整个大陆的控制，成为黄金帝国（Empire d'Or）——获得比赛胜利。
    </p>
    <br />
    <img src="/static/images/story.jpg" style="margin: auto" width="100%"/>
</div>

{% endblock %}