{% extends "base.html" %}

{% block content %}

<div class="bg" style="width: 100%; background: url('/static/images/alter-bg.jpg') fixed center center no-repeat; background-size: cover; height: 950px; margin: 0px 0px 0px 0px;">
    <div style="height: 10%; background-color: rgba(0, 0, 0, 0);"></div>
    <div class="fi" style="margin-left: 30%; width: 40%; margin: auto; text-align: center;">
        <font size="100" color="white" face="微软雅黑">Welcome to FC15!</font>
        <p style="font: bold 18px 微软雅黑;">Please fill in the forms to alter you account.</p>
        <hr />
    </div>
    <div style="background-color: rgba(0, 0, 0, 0);">
        <div class="contact-input" style="margin-left: 30%; width: 40%; margin: auto; color: white; background-color: rgba(0, 0, 0, 0);">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form_input">
                    <label for="email" id="email" style="margin-left: 10%; font: 16px 微软雅黑;">Email</label>
                    <input type="email" name="email" class="contact-input"
                           style="color: rgba(255, 255, 255, 1.0); margin-left: 10%; width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: rgba(255, 255, 255, 0.3);  border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                </div>
                <div class="form_input">
                    <label for="oldpw" id="oldpw" style="margin-left: 10%; font: 16px 微软雅黑;">Old password</label>
                    <input type="password" name="old_password" class="contact-input"
                           style="color: rgba(255, 255, 255, 1.0); margin-left: 10%; width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: rgba(255, 255, 255, 0.3); border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                </div>
                <div class="form_input">
                    <label for="newpw" id="newpw" style="margin-left: 10%; font: 16px 微软雅黑;">New password</label>
                    <input type="password" name="new_password" class="contact-input"
                           style="color: rgba(255, 255, 255, 1.0); margin-left: 10%; width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: rgba(255, 255, 255, 0.3); border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                </div>
                <div class="form_input">
                    <label for="confirm" id="confirm" style="margin-left: 10%; font: 16px 微软雅黑;">Confirm password</label>
                    <input type="password" name="confirm_password" class="contact-input"
                           style="color: rgba(255, 255, 255, 1.0); margin-left: 10%; width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: rgba(255, 255, 255, 0.3); border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                </div>
                <input type="submit" value="Submit" class="el-button" style="width: 30%; margin-left: 35%;" onclick="return confirm('Are you sure to change you account information?')" />
            </form>
        </div>
    </div>
</div>

<!--
<el-container>
    <el-aside width="20%">

    </el-aside>
    <el-main>
        <div class="contact-input" style="margin-left: 0px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form_input">
                    <label for="email" id="email">Email</label>
                    <input type="text" name="email" class="contact-input"
                           style="width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: #eef7f9;  border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  color: #4d5a5e;  background: white;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                </div>
                <div class="form_input">
                    <label for="oldpw" id="oldpw">Old password</label>
                    <input type="password" name="old_password" class="contact-input"
                           style="width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: #eef7f9;  border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  color: #4d5a5e;  background: white;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                </div>
                <div class="form_input">
                    <label for="newpw" id="newpw">New password</label>
                    <input type="password" name="new_password" class="contact-input"
                           style="width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: #eef7f9;  border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  color: #4d5a5e;  background: white;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                </div>
                <div class="form_input">
                    <label for="confirm" id="confirm">Confirm password</label>
                    <input type="password" name="confirm_password" class="contact-input"
                           style="width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: #eef7f9;  border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  color: #4d5a5e;  background: white;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                </div>
                <input type="submit" value="Submit" class="el-button" onclick="return confirm('Are you sure to change you account information?')" />
            </form>
        </div>
    </el-main>
</el-container>
<!--
<section id="banner">
	<div class="inner">
	    <h2>Welcome {{ username }}!</h2>
	    <p>You can post your blog here</p>
	</div>
</section>
     
<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">
		<div class="inner">
            <form method="post" enctype="multipart/form-data" style="left: 20px;">
            {% csrf_token %}
            <h1>Welcome {{ username }}! You can change your account information here.</h1>
            <br />
            <div class="form-group">
                <label for="id_email" class="col-md-2 control-label">Email</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="id_old_password" class="col-md-2 control-label">Old Password</label>
                {{ form.old_password }}
            </div>
            <div class="form-group">
                <label for="id_new_password" class="col-md-2 control-label">New password</label>
                {{ form.new_password }}
            </div>
           <div class="form-group">
                <label for="id_confirm_password" class="col-md-2 control-label">Confirm password</label>
                {{ form.confirm_password }}
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="button" onclick="return confirm('Are you sure to change you account information?')" />
            </div>
            </form>
        </div>
    </section>
</section>
-->
{% endblock %}