{% extends "base.html" %}

{% block content %}

<div class="bg" style="width: 100%; background: url('/static/images/login-bg.jpg') fixed center center no-repeat; background-size: cover; height: 850px; margin: 0px 0px 0px 0px;">
    <div style="height: 10%; background-color: rgba(0, 0, 0, 0);"></div>
    <div class="fi" style="margin-left: 30%; width: 40%; margin: auto; text-align: center;">
        <font size="100" color="white" face="微软雅黑">Welcome to FC15!</font>
        <p style="font: bold 18px 微软雅黑;">Please sign in with you own account.</p>
        <hr />
    </div>
    <div style="background-color: rgba(0, 0, 0, 0);">
        <div class="contact-input" style="margin-left: 30%; width: 40%; margin: auto; color: white; background-color: rgba(0, 0, 0, 0);">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form_input">
                            <label for="name" id="name" style="margin-left: 10%; font: 16px 微软雅黑;">Username</label>
                            <input type="text" name="username" class="contact-input"
                                   style="color: rgba(255, 255, 255, 1.0); margin-left: 10%; width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: rgba(255, 255, 255, 0.3);  border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                        </div>
                        <div class="form_input">
                            <label for="password" id="password" style="margin-left: 10%; font: 16px 微软雅黑;">Password</label>
                            <input type="password" name="password" class="contact-input"
                                   style="color: rgba(255, 255, 255, 1.0); margin-left: 10%; width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: rgba(255, 255, 255, 0.3);  border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                       </div>
                       <!--div class="el-button"-->
                        <div class="buttons" style="margin-left: 0%;">
                            <input type="submit" value="Login" class="el-button" style="width: 30%; margin-left: 35%;" />
                        </div>
                    </form>
                </div>
        <br />
        <div style="margin: auto; text-align: center; margin-left: 30%; width: 40%;">
            <hr />
            <p style="color: white; font: 16px 微软雅黑;">Failed to receive the email?</p>
            <a href="/activateagain/"><el-button type="primary" plain>Send again</el-button></a>
        </div>
        <br /><br />
        <div style="margin: auto; text-align: center; margin-left: 30%; width: 40%;">
            <hr />
            <p style="color: white; font: 16px 微软雅黑;">Do not have an account?</p>
            <a href="/regist/"><el-button type="success" plain>Register now</el-button></a>
        </div>
    </div>
</div>
<!--
<el-container>
    <el-aside width="20%" style="background-color: #ffffff;">

    </el-aside>
    <el-main>
        <el-container>
            <el-aside width="75%">
                <div class="contact-input" style="margin-left: 20%">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form_input">
                            <label for="name" id="name">Username</label>
                            <input type="text" name="username" class="contact-input"
                                   style="width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: #eef7f9;  border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  color: #4d5a5e;  background: white;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                        </div>
                        <div class="form_input">
                            <label for="password" id="password">Password</label>
                            <input type="password" name="password" class="contact-input"
                                   style="width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: #eef7f9;  border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  color: #4d5a5e;  background: white;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                       </div>
                        <div class="buttons" style="margin-left: 20%;">
                            <input type="submit" value="Login" class="el-button" />
                            <el-button type="success" plain>Register</el-button>
                        </div>
                    </form>
                </div>
            </el-aside>
            <el-main style="background-color: #ffffff;">

            </el-main>
        </el-container>
    </el-main>
</el-container>
    -->


<!-- Old version of forms
<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">
		<div class="inner">
		    <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Please log in with your own account.</h1>
                <br />
                <div class="field">
                    <label for="name" id="name">User name</label>
                    <input type="text" name="username" class="smart-green" />
                    {{ form.username }}
                </div>
                <div class="field">
                    <label for="password" id="password">Password</label>
                    {{ form.password }}
                </div>
                <div class="actions">
                    <input type="submit" value="Log in" class="button" />
                </div>
                <br />
                <h3>Do not have an account? <a href="/regist/">Register here</a></h3>
            </form>
            
		</div>
	</section>
</section>
    -->
{% endblock %}