{% extends "base.html" %}

{% block content %}

<div class="bg" style="width: 100%; background: url('/static/images/reset-bg.jpg') fixed center center no-repeat; background-size: cover; height: 900px; margin: 0px 0px 0px 0px;">
    <div style="height: 10%; background-color: rgba(0, 0, 0, 0);"></div>
    <div class="fi" style="margin-left: 30%; width: 40%; margin: auto; text-align: center;">
        <font size="100" color="white" face="微软雅黑">Welcome to FC15!</font>
        <p style="font: bold 18px 微软雅黑;">Please fill in the forms to send the request to reset you account.</p>
        <hr />
    </div>
    <div style="background-color: rgba(0, 0, 0, 0);">
        <div class="contact-input" style="margin-left: 30%; width: 40%; margin: auto; color: white; background-color: rgba(0, 0, 0, 0);">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form_input">
                    <label for="username" id="username" style="margin-left: 10%; font: 16px 微软雅黑;">Username</label>
                    <input type="text" name="username" class="contact-input"
                           style="color: rgba(255, 255, 255, 1.0); margin-left: 10%; width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: rgba(255, 255, 255, 0.3);  border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                </div>
                <div class="form_input">
                    <label for="email" id="email" style="margin-left: 10%; font: 16px 微软雅黑;">Email</label>
                    <input type="text" name="Email" class="contact-input"
                           style="color: rgba(255, 255, 255, 1.0); margin-left: 10%; width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: rgba(255, 255, 255, 0.3);  border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                </div>
                <input type="submit" value="Submit" class="el-button" style="width: 30%; margin-left: 35%;" onclick="return confirm('Are you sure to send the request to reset you password?')" />
            </form>
        </div>
    </div>
</div>

<!--
<el-container>
    <el-aside width="20%">

    </el-aside>
    <el-main>
        <div class="ocntact-input" style="margin-left: 0px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form_input">
                    <label for="username" id="username">Username</label>
                    <input type="text" name="username" class="contact-input"
                           style="width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: #eef7f9;  border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  color: #4d5a5e;  background: white;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                </div>
                <div class="form_input">
                    <label for="email" id="email">Email</label>
                    <input type="text" name="Email" class="contact-input"
                           style="width: 80%; overflow: hidden;margin-bottom: 20px;  padding: 5px;  background: #eef7f9;  border-radius: 2px;  display: block; height: 29px;  padding: 0 9px;  color: #4d5a5e;  background: white;  border: 1px solid #cfdfe3;  border-bottom-color: #d2e2e7;  border-radius: 2px;  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);"/>
                </div>
                <input type="submit" value="Submit" class="el-button" onclick="return confirm('Are you sure to send the request to reset you password?')" />
            </form>
        </div>
    </el-main>
</el-container>
<!--
<section id="banner">
	<div class="inner">
		<h2>Welcome to FC15!</h2>
		<p>You can fill in the request to reset you password here.</p>
	</div>
</section>

<section id="wrapper">
    <section id="one" class="wrapper spotlight style1">
		<div class="inner"><div class="content">
		    <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <h1>Enter your information to create a new account.</h1>
                <br />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">Username</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="id_email" class="col-md-2 control-label">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <input type="submit" value="Reset" class="button" onclick="return confirm('Are you sure to send the request to reset you password?')" />
                </div>
            </form>       
		</div></div>
	</section>
</section>
    -->
{% endblock %}